In [21]:
import pandas as pd 
import numpy as np
import matplotlib as plt
import os

## Load Data

In [5]:
paysim_data = pd.read_csv('/Users/marcolaureano2/Documents/GitHub/paysim_financial_data/PS_20174392719_1491204439457_log.csv')

In [6]:
paysim_data

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
0,1,PAYMENT,9839.64,C1231006815,170136.00,160296.36,M1979787155,0.00,0.00,0,0
1,1,PAYMENT,1864.28,C1666544295,21249.00,19384.72,M2044282225,0.00,0.00,0,0
2,1,TRANSFER,181.00,C1305486145,181.00,0.00,C553264065,0.00,0.00,1,0
3,1,CASH_OUT,181.00,C840083671,181.00,0.00,C38997010,21182.00,0.00,1,0
4,1,PAYMENT,11668.14,C2048537720,41554.00,29885.86,M1230701703,0.00,0.00,0,0
...,...,...,...,...,...,...,...,...,...,...,...
6362615,743,CASH_OUT,339682.13,C786484425,339682.13,0.00,C776919290,0.00,339682.13,1,0
6362616,743,TRANSFER,6311409.28,C1529008245,6311409.28,0.00,C1881841831,0.00,0.00,1,0
6362617,743,CASH_OUT,6311409.28,C1162922333,6311409.28,0.00,C1365125890,68488.84,6379898.11,1,0
6362618,743,TRANSFER,850002.52,C1685995037,850002.52,0.00,C2080388513,0.00,0.00,1,0
6362619,743,CASH_OUT,850002.52,C1280323807,850002.52,0.00,C873221189,6510099.11,7360101.63,1,0

## Data Dictionary

| Column  | Description  | 
| --- | ---|
| step  | Maps a unit of time in the real world. In this case 1 step is 1 hour of time.  | 
| type   |  CASH-IN, CASH-OUT, DEBIT, PAYMENT and TRANSFER  | 
| amount  |  amount of the transaction in local currency  | 
| nameOrig  |  customer who started the transaction  |
| oldbalanceOrg  |   initial balance before the transaction  | 
| newbalanceOrig  |  newbalanceOrig  | 
| nameDest  |  recipient ID of the transaction  | 
| oldbalanceDest  |   initial recipient balance before the transaction.  | 
| newbalanceDest  |  recipient's balance after the transaction.  |
| isFraud   |  identifies a fraudulent transaction (1) and non fraudulent (0)  |
| isFlaggedFraud |  flags illegal attempts to transfer more than 200.000 in a single transaction.  |

## Basic Inspection

In [7]:
paysim_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6362620 entries, 0 to 6362619
Data columns (total 11 columns):
 #   Column          Dtype
---  ------          -----
 0   step            int64
 1   type            object
 2   amount          float64
 3   nameOrig        object
 4   oldbalanceOrg   float64
 5   newbalanceOrig  float64
 6   nameDest        object
 7   oldbalanceDest  float64
 8   newbalanceDest  float64
 9   isFraud         int64
 10  isFlaggedFraud  int64
dtypes: float64(5), int64(3), object(3)
memory usage: 534.0+ MB

In [15]:
paysim_data.isna().sum()

step              0
type              0
amount            0
nameOrig          0
oldbalanceOrg     0
newbalanceOrig    0
nameDest          0
oldbalanceDest    0
newbalanceDest    0
isFraud           0
isFlaggedFraud    0
dtype: int64

## Fraud

In [20]:
## in both isFraud & isFlaggedFraud, 1 = yes, 0 = no

In [18]:
paysim_data['isFraud'].sum()

8213

In [19]:
paysim_data['isFlaggedFraud'].sum()

16

In [ ]:
paysim_data[['type', 'isFraud']].sum()